@model IEnumerable<PresentationLayerMVC.Models.SupplierModels.SupplierQueryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateCPF">Cadastrar novo fornecedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonResponsible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ_CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {

        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonResponsible)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CNPJ_CPF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telephone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ID })
                    </td>
                </tr>
            }
        }
        </tbody>
</table>
