@model PresentationLayerMVC.Models.CompanyModels.CompanyQueryViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da Empresa</h1>

<div>
    <h4>CompanyQueryViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommercialName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommercialName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CPNJ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CPNJ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class="col-sm-10">
            @{
                System.Text.StringBuilder builder = new System.Text.StringBuilder();
                foreach (var item in Model.Supplier)
                {
                    builder.AppendLine(item.PersonResponsible);
                }
                <span class="col-sm-10">@builder.ToString()</span>
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |

    <a asp-action="Index">Voltar a Lista de Empresas</a>
</div>
